body {
  font-family: 'Trebuchet MS', sans-serif;
  background:fixed
}
div {
  background-color:blue;
}
.class1 {
  text-align:right;
  color:white;
}
.submit {
  background-color:blue;
  color:white;
}
.class2 {
  color:white;
}